.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #669bbc;
  transition: background-color .4s;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: transform .4s;
  border-radius: 50%;
  animation: popBack .4s;
}

input:checked + .slider {
  background-color: #669bbc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(70px);
  animation: pop .4s;
}

/* Add a shadow to create a "depth" effect */
.slider:before {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Define the animations */
@keyframes pop {
  0% { transform: scale(1) translateX(70px); }
  50% { transform: scale(1.3) translateX(70px); }
  100% { transform: scale(1) translateX(70px); }
}

@keyframes popBack {
  0% { transform: scale(1) translateX(0); }
  50% { transform: scale(1.3) translateX(0); }
  100% { transform: scale(1) translateX(0); }
}
