/* carousel styles */

.carousel-container {
  text-align: center;
  box-sizing: border-box;
  
}

.carousel-item-padding-40-px {
  height: 200px;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}


.dropdown-enter {
  opacity: 0;
  animation: enter 300ms forwards ease-in-out;
}

@keyframes enter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-exit {
  opacity: 1;
  animation: exit 300ms forwards ease-in-out;
}

@keyframes exit {
  to {
    opacity: 0;
  }
}
